<div class="footer-contact">
    <h5>Contact</h5>
    <ul>
        <li><a href="https://www.google.fr/maps/place/14+Rue+Alexandre+Parodi,+75010+Paris/@48.8800349,2.3644269,18z/data=!4m6!3m5!1s0x47e66e743a09e1f7:0xc7f998b014f7fa85!8m2!3d48.8800062!4d2.3653264!16s%2Fg%2F11cslmbl4z?entry=ttu"><i class="fa-solid fa-location-dot"></i>15 rue de la Bûcherie, 75005 Paris</a></li>
        <div>
            <li><a href="mailto:contact@edrlab.org"><i class="fa-solid fa-envelope"></i>contact@edrlab.org</a></li>
            <li><a href="tel:+33140411189"><i class="fa-solid fa-phone"></i>+33 (0)1 40 41 11 89</a></li>
        </div>
    </ul>
</div>