<div class="footer-about">
    <h5>About Us</h5>
    <p>The European Digital Reading Lab (EDRLab) is a non-profit development laboratory, created in 2015 and based in Paris.</p>
</div>
<div class="footer-readium">
    <h5>Readium – W3C</h5>
    <div class="footer-readium-logos">
        <img src="/static/images/logo-Readium-large.png" alt="Readium">
        <img src="/static/images/W3C-logo.png" alt="W3C">
    </div>
    <p>EDRLab is the main contributor of the Readium Project and member of the W3C.</p>
</div>
<div class="footer-contact">
    <h5>Contact</h5>
    <ul>
    <li><a href="https://www.google.fr/maps/place/14+Rue+Alexandre+Parodi,+75010+Paris/@48.8800349,2.3644269,18z/data=!4m6!3m5!1s0x47e66e743a09e1f7:0xc7f998b014f7fa85!8m2!3d48.8800062!4d2.3653264!16s%2Fg%2F11cslmbl4z?entry=ttu"><i class="fa-solid fa-location-dot"></i>14 Rue Alexandre Parodi, 75010 Paris</a></li>
    <li><a href="mailto:contact@edrlab.org"><i class="fa-solid fa-envelope"></i>contact@edrlab.org</a></li>
    <li><a href="tel:+33140411189"><i class="fa-solid fa-phone"></i>+33 (0)1 40 41 11 89</a></li>
    </ul>
</div>
<div class="footer-social">
    <h5>Links</h5>
    <div class="footer-social-logos">
        <a href="https://www.facebook.com/edrlab.org?fref=ts" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com/EDRLab_org" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="opds://localhost:8080/opds/catalog">
            <img src="/static/images/opds-logo.png" style="height: 60px; width: 150px">
        </a>
        <a href="https://www.edrlab.org/" target="_blank"><img src="/static/images/edrlab-logo.png"/></a>
        <a href="https://github.com/edrlab/pubstore/tree/main" target="_blank"><img src="/static/images/github-mark.png"></a>
    </div>
</div>