<div class="header-infos">
    <div class="header-infos-title">
        <a href="/index"><img src="/static/images/edrlab-logo.jpeg" alt="logo" class="logo"/></a>
        <h1>PubStore</h1>
    </div>
    <div class="header-options">
        <div class="header-options_settings">
            <button id="login-button">Sign In</button>
            <button id="signup-button">Sign Up</button>
            <button id="user-options"></button>
        </div>
    </div>
</div>
<nav>
    <ul>
        <li><a href="/catalog">Catalog</a></li>
        <li><a href="/mybooks">My Books</a></li>
    </ul>
</nav>
<section id="Banner">
</section>

<!--
<div class="fade" id="modal-window-login" tabindex="-1" style="display: none;" aria-hidden="true">
    <aside id="modal-login" class="modal-login" aria-hidden="true" aria-labelledby="modal">
        <div class="modal-wrapper-login js-modal-stop">
            <div class="box">
                <form id="login-form">
                    <h2>Sign In</h2>
                    <div class="inputBox">
                        <input type="text" required="required" id="user"/>
                        <span>Username</span>
                        <i></i>
                    </div>
                    <div class="inputBox">
                        <input type="password" required="required" id="password"/>
                        <span>Password</span>
                        <i></i>
                    </div>
                    <div class="links">
                        <a href="#" id="forgotPassword">Forgot Password</a>
                    </div>
                    <input type="submit" value="Login" id="log-in-submit">
                </form>
                <form id="signup-form">
                    <h2>Sign Up</h2>
                    <div class="inputBox">
                        <input type="email" required="required" id="newEmail"/>
                        <span>Email</span>
                        <i></i>
                    </div>
                    <div class="inputBox">
                        <input type="text" required="required" id="newUser"/>
                        <span>Username</span>
                        <i></i>
                    </div>
                    <div class="inputBox">
                        <input type="password" required="required" id="newPassword"/>
                        <span>Password</span>
                        <i></i>
                    </div>
                    <div class="links">
                        <a href="#" id="signIn">Sign In</a>
                    </div>
                    <input type="submit" value="Sign Up" id="sign-in-submit">
                </form>
            </div>
        </div>
    </aside>
</div>-->
