<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <title>LCP PubStore {{.title}}</title>
    {{template "head" .}}
  </head>
  <body>
  <header>
    {{include "layouts/header"}}
  </header>

  <main class="main-content">
    {{template "content" .}}
  </main>
    <div class="modal-backdrop fade show"></div>
  <footer>
    {{include "layouts/footer"}}
  </footer>
  </body>
</html>