{{define "head"}}
<link href="/static/css/style.css" rel="stylesheet" />
<link href="/static/css/bookshelf.css" rel="stylesheet">
<link href="/static/css/catalog.css" rel="stylesheet">
<script type="module" src="/static/js/main.js"></script>
<script src="https://kit.fontawesome.com/a9faad54a1.js" crossorigin="anonymous"></script>
{{end}}

{{define "content"}}
<div style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;">
        <div class="main-content-header">
            <h2>My Books</h2>
            <!--        <p>Page {{.currentPage}}</p>-->
            <h3>{{.currentFacetValue}}</h3>
            <!--        <p>Results by page : {{.currentPageSize}}</p>-->
            <p>{{.publicationCount}} results found</p>
        </div>
<ul class="book-list bs-list" id="searchList">
    {{range .transactions}}
    <li>
        <a href="/bookshelf/publication/{{.PublicationUUID}}">
            <div class="book-cover-container">
                <img class="book-cover" src="{{.PublicationCoverUrl}}">
                <span class="status {{.LicenseStatusCode}}">{{.LicenseStatusMessage}}</span>
            </div>
            <p class="book-title">{{.PublicationTitle}}</p>
            <p class="book-author">{{.PublicationAuthor}}</p>
        </a>
    </li>
    {{end}}
</ul>
</div>
{{end}}