{{define "head"}}
    <link href="/static/css/style.css" rel="stylesheet" />
    <link href="/static/css/catalog.css" rel="stylesheet">
    <script type="module" src="/static/js/filter-categories.js"></script>
    <script src="https://kit.fontawesome.com/a9faad54a1.js" crossorigin="anonymous"></script>
{{end}}

{{define "content"}}
    <div class="main-content-header">
        <h2>Catalog</h2>
        <p>{{len .publications}} results found</p>
    </div>
    <div class="catalog-content">
        <aside class="categories">
            <ul>
                <li class="dropdown">
                    <div class="filter-title" data-open="false">
                        <input type="text" class="textBox" placeholder="Authors" readonly>
                    </div>
                    <ul class="option">
                        {{range .authors}}
                        <li><a href="/catalog?author={{.}}">{{.}}</a></li>
                        {{end}}
                    </ul>
                </li>
                <li class="dropdown">
                    <div class="filter-title" data-open="false">
                        <input type="text" class="textBox" placeholder="Categories" readonly>
                    </div>
                    <ul class="option">
                        {{range .categories}}
                        <li><a href="/catalog?category={{.}}">{{.}}</a></li>
                        {{end}}
                    </ul>
                </li>
                <li class="dropdown">
                    <div class="filter-title" data-open="false">
                        <input type="text" class="textBox" placeholder="Languages" readonly>
                    </div>
                    <ul class="option">
                        {{range .languages}}
                        <li><a href="/catalog?language={{.}}">{{.}}</a></li>
                        {{end}}
                    </ul>
                </li>
                <li class="dropdown">
                    <div class="filter-title" data-open="false">
                        <input type="text" class="textBox" placeholder="Publishers" readonly>
                    </div>
                    <ul class="option">
                        {{range .publishers}}
                        <li><a href="/catalog?publisher={{.}}">{{.}}</a></li>
                        {{end}}
                    </ul>
                </li>
            </ul>
            <a href="/catalog" class="reset">Clear Filters</a>
        </aside>
        <ul class="book-list" id="searchList">
            {{range .publications}}
                <li>
                    <a href="/catalog/publication/{{.UUID}}">
                        <div class="book-cover-container">
                            <img class="book-cover" src="{{.CoverHref}}">
                        </div>
                        <p class="book-title">{{.Title}}</p>
                        <p class="book-author">{{.Author}}</p>
                    </a>
                </li>
            {{end}}
        </ul>
    </div>
    <div class="pages">
        <p>Page</p>
        <a href="#" class="on-page">1</a>
        <a href="#">2</a>
    </div>
{{end}}