
{{define "head"}}
<style>
    .hello{ color: red;}
    hr{ border: 1px #ccc dashed;}
</style>
{{end}}


{{define "content"}}
<hr>

<p>CurrentFacetType :  {{.currentFacetType}}</p>
<p>CurrentFacetValue :  {{.currentFacetValue}}</p>
<p>Pagination : {{.currentPage}}</p>
<p>Pagination size : {{.currentPageSize}}</p>
<p>Publication total count : {{.publicationCount}}</p>
<p></p>
{{range .pageRange}}
<a href="/catalog?page={{.}}">Page {{.}}</a>
{{end}}
<p></p>
<form action="/catalog" method="get">
    <input type="text" id="search" name="q">
    <input type="submit" value="search">
</form>

<p>Author</p>
<ul>
    <p>Authors : </p>
    {{range .authors}}
    <li><a href="/catalog?author={{.}}">{{.}}</a></li>
    {{end}}
</ul>
<ul>
    <p>Categories : </p>
    {{range .categories}}
    <li><a href="/catalog?category={{.}}">{{.}}</a></li>
    {{end}}
</ul>
<ul>
    <p>Languages : </p>
    {{range .languages}}
    <li><a href="/catalog?language={{.}}">{{.}}</a></li>
    {{end}}
</ul>
<ul>
    <p>Publishers : </p>
    {{range .publishers}}
    <li><a href="/catalog?publisher={{.}}">{{.}}</a></li>
    {{end}}
</ul>

<p>Publications : </p>
{{range .publications}}
<a href="/catalog/publication/{{.UUID}}">link</a>
<img src="{{.CoverHref}}" />
<p>{{.Title}}</p>
<p>{{.Author}}</p>
{{end}}

{{end}}