
{{define "head"}}
<link href="/static/css/style.css" rel="stylesheet" />
<link href="/static/css/catalog.css" rel="stylesheet">
<link href="/static/css/auth.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/a9faad54a1.js" crossorigin="anonymous"></script>
{{end}}


{{define "content"}}
<div class="signup-page">
    <div class="signup-container">
        <h2>Sign Up</h2>
        {{if .userCreationFailed}}
        <div class="user-creation-failed">User creation failed</div>
        {{end}}
        <form action="/signup" method="post">
            <div class="signup-name">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required>
            </div>

            <div class="signup-email">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
            </div>

            <div class="signup-password">
                <label for="password">Password:</label>
                <input type="text" name="password" id="password" required>
            </div>

            <div class="signup-lcpHint">
                <label for="lcpHint">LCP Hint Message:</label>
                <input type="text" name="lcpHint" id="lcpHint" required title="A sentence used as a reminder for your passphrase">
            </div>

            <div class="signup-lcpPass">
                <label for="lcpPass">LCP Passphrase:</label>
                <input type="text" name="lcpPass" id="lcpPass" required title="Enter at least 3 characters">
            </div>

            <input type="submit" value="Signup">
        </form>
    </div>
</div>
{{end}}