.userListContainer,
.purchasesListContainer {
    text-align: center;
    width: 100%;
    padding: 30px;
    margin: auto;
}

.userListContainer tr:hover,
.purchasesListContainer tr:hover {
    background-color: rgba(167, 198, 248, 0.24);
}

th {
    padding: 20px 0;
}

th,
td {
    border-bottom: 1px solid;
}

.purchase-cover {
    width: 75px;
}

.status {
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
}

.active {
    background: #1c7430;
}

.expired {
    background: #a2a1a1;
}

.fa-cloud-arrow-down {
    scale: 2;
    transition: 300ms;
}

.fa-cloud-arrow-down:hover {
    color: #a7c6f8;
}