.pub-container {
    padding: 0 10%;
    display: flex;
    justify-content: space-around;
}

.pub-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.pub-left-side img {
    width: 300px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    list-style: none;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    background-color: #DDDBDD;
}

.pub-left-side img:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255,255,255, 0) 0, rgba(255,255,255, 0.2) 20%, rgba(255,255,255, 0.5) 60%, rgba(255,255,255, 0));
    animation: shimmer 2s infinite;
    content: '';
}

.pub-left-side .pub-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pub-left-side .pub-actions button,
.pub-left-side .pub-actions > a {
    padding: 10px 5px;
    font-size: 18px;
    background-color: white;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    width: 150px;
    margin: 10px;
    text-align: center;
    transition: 200ms;
}

.pub-left-side .pub-actions .login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.pub-left-side .pub-actions .login a {
    height: 20px;
    width: 100px;
    border: 1px solid black;
    background: none;
    text-align: center;
    line-height: 20px;
}

.pub-left-side .pub-actions button:hover,
.pub-left-side .pub-actions > a:hover {
    box-shadow: 5px 5px 5px grey;
    background: #a7c6f8;
}

.pub-left-side .pub-actions button:active,
.pub-left-side .pub-actions > a:active {
    scale: 0.9;
}

.pub-right-side {
    text-align: start;
    flex: 2;
}

.pub-right-side > h1 {
    font-size: 40px;
    margin: 0;
}

.pub-right-side .authors {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pub-right-side .authors p {
    margin: 0;
}

.pub-right-side .authors a {
    font-size: 1.17em;
    font-weight: bold;
}

.pub-right-side .authors a:hover {
    color: #84a3d3;
}

.pub-right-side .pub-categories-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;
}

.pub-right-side .pub-categories-tags .tag {
    border: 1px solid grey;
    border-radius: 25px;
    background: white;
    color: black;
    max-width: 200px;
    max-height: 30px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 200ms;
}

.pub-right-side .pub-categories-tags .tag:hover {
    background: #a7c6f8;
    color: black;
}

.pub-right-side .tab-bar {
    border-bottom: 1px solid #d5d6d5;
    display: flex;
    padding-top: 30px;
}

.pub-right-side .tab-bar button {
    border: none;
    padding: 10px 0 14px 0;
    font-size: 1.05em;
    cursor: pointer;
    background: transparent;
}

.pub-right-side .tab-bar .tab {
    padding-bottom: 12px;
    margin-right: 32px;
    margin-bottom: 0;
    border-bottom: 4px solid white;
}

.pub-right-side .tab-bar .tab:hover {
    border-bottom: 4px solid #d5d6d5;
}

.pub-right-side .tab-bar .tab--active {
    border-bottom: 4px solid #a7c6f8!important;
    font-weight: bold;
}

.pub-right-side .summary h4 {
    border-bottom: 1px solid grey;
    padding: 10px;
}

.pub-right-side .informations h4 {
    border-bottom: 1px solid grey;
    display: flex;
    margin-top: 10px;
    padding: 10px 10px 10px 0;
}

.pub-right-side .informations button {
    border: none;
    background: none;
    font-size: 1.10em;
    font-weight: bold;
}

.pub-right-side .informations > div p {
    margin: 0;
}

.pub-right-side .lcp-infos {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.status {
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
}

.ready {
    background: #00acee;
}

.active {
    background: #1c7430;
}

.expired {
    background: #a2a1a1;
}

.related {
    margin-bottom: 50px;
    padding: 0 10%;
}

.related-pub {
    display: flex;
    gap: 30px;
}

.related-pub a {
    width: 150px;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    list-style: none;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    background-color: #DDDBDD;
}

.related-pub a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255,255,255, 0) 0, rgba(255,255,255, 0.2) 20%, rgba(255,255,255, 0.5) 60%, rgba(255,255,255, 0));
    animation: shimmer 2s infinite;
    content: '';
}

@media screen and (max-width: 1200px) {
    .pub-container {
        gap: 20px;
    }
}

    @media screen and (max-width: 900px) {
    .pub-container {
        flex-direction: column;
    }
    .pub-left-side .pub-actions {
        flex-direction: row;
    }
    .pub-right-side {
        text-align: center;
    }
    .pub-right-side .authors,
    .pub-right-side .pub-categories-tags {
        justify-content: center;
    }
}