body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    max-width: 1920px;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

.inactive {
    color: #DDDBDD!important;
    font-style: italic;
}

.logo:hover {
    animation: rotation 1.5s ease-in-out;
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

.header-infos {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 0;
}

.header-infos-title {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.header-infos-title > a {
    height: 75px;
}

.header-infos-title > h1 {
    margin: 0;
    height: 75px;
    line-height: 75px;
}

.header-infos img {
    width: 75px;
}

.header-options {
    text-align: end;
    font-size: 18px;
}

.header-options p {
    margin: 0;
}

.header-options a {
    cursor: pointer;
    border: none;
    background: transparent;
}

.header-options_settings {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: end;
}

.header-options_searchbar {
    border: 1px solid grey;
    border-radius: 20px;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.header-options_searchbar input {
    border: none;
    border-radius: 20px 0 0 20px;
    width: 300px;
    height: 50px;
    padding: 0 10px;
    font-size: 18px;
}

.header-options_searchbar button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 0;
    cursor: pointer;
    transition: 300ms;
}

.header-options_searchbar button:hover {
    background: rgba(0, 0, 0, 0.75);
    color: white;
}

.header-options_searchbar button i {
    scale: 2;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    gap: 50px;
}

header nav ul li {
    list-style: none;
    height: 50px;
}

header nav ul li a {
    font-size: 24px;
    transition: 500ms;
}

header nav ul li a:hover {
    font-size: 30px;
}

#login-button,
#signup-button {
    padding: 5px 20px;
    border-radius: 20px;
    transition: 500ms;
}

#login-button:hover,
#signup-button:hover {
    background: black;
    color: white;
}

#login-button a:hover,
#signup-button a:hover {
    color: white!important;
}


#Banner {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 5px;
    justify-content: center;
    margin-bottom: 50px;
    background-color: #a7c6f8;
    position: relative;
    overflow: hidden;
}

#Banner-Home {
    width: 100%;
    height: 700px;
    background-color: #a7c6f8;
    position: relative;
    overflow: hidden;
}

#Banner-Home img {
    width: 50vw;
    z-index: 10;
    justify-content: end;
}

#Banner h2 {
    color: white;
    font-size: 60px;
    padding-bottom: 200px;
}

#Banner-Home h2{
    color: white;
    font-size: 60px;
    text-align: center;
}

#Banner-Home li {
    color: white;
    font-size: 26px;
    padding: 10px;
    font-style: italic;
}

#Banner-Home li > span {
    font-size: 22px;
}

#Banner-Home .Banner-infos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#Banner:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255,255,255, 0) 0, rgba(255,255,255, 0.2) 20%, rgba(255,255,255, 0.5) 60%, rgba(255,255,255, 0));
    animation: shimmer 4s infinite;
    content: '';
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

.main-content {
    padding: 0 20px;
    min-height: 60vh;
}

.main-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.latest-publications-infos, .latest-purchases-infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

footer {
    border-top: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100vw;
}

footer h5 {
    font-size: 18px;
    margin: 10px;
}

.footer-about,
.footer-readium,
.footer-contact,
.footer-social {
    width: 350px;
    font-size: 14px;
}


.footer-contact ul {
    list-style-type: none;
    text-align: start;
}

.footer-contact ul li a {
    color: black;
    transition: 200ms;
}

.footer-contact ul li a:hover {
    color: #3b5998;
}

.footer-contact ul li a i {
    margin-right: 20px;
}

.footer-readium-logos img {
    max-width: 100px;
    height: 30px;
}

.footer-social-logos i {
    font-size: 50px;
    transition: 200ms;
}

.footer-social-logos i {
    color: rgb(59, 58, 58);
}

.footer-social-logos i.fa-facebook:hover {
    color: #3b5998;
}

.footer-social-logos i.fa-twitter:hover {
    color: #00acee;
}

.error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: #a7c6f8;
}

.error-content i {
    rotate: 20deg;
    color: #a7c6f8;
    transition: 300ms;
}

.error-content i:hover {
    scale: 1.1;
    color: black;
}

@media screen and (max-width: 800px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #Banner-Home {
        height: 100%;
    }
    .Banner-infos,
    header nav {
        flex-direction: column;
        padding: 0 50px;
    }
    header nav ul {
        margin: 0;
    }
    .header-options_searchbar {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .header-infos {
        flex-direction: column;
    }
    .header-options {
        text-align: center;
    }
    .header-options_settings {
        justify-content: center;
    }
}